__pycache__/
venv/
.env
tgbot/__pycache__/
tgbot/filters/__pycache__/
tgbot/handlers/__pycache__/
tgbot/keyboards/__pycache__/
tgbot/misc/__pycache__/
tgbot/models/__pycache__/
tgbot/services/__pycache__/
.idea